<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Demo_Suite">
 
 <parameter name="Partner_Name" value="Virginmobile"></parameter>
  <test name="Test">
    <classes>
      <class name="com.shaw.TestCases.RunnerPartner"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
